<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>FeedBack Collection System</h1>
    <form action="/submit-feedback" method="post"> 
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="contactNumber">Contact Number:</label>
        <input type="text" id="contactNumber" name="contactNumber">
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br><br>
        <label for="feedback">Provide Your Feedback:</label> 
        <textarea name="feedback"></textarea>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>